
body{
    background-color: grey;
    color: gold;
}

section{
    background-color: white;
}

.h1 {
    color: blue;
    
}

.h1-a {
    color: blue
}
.h2 {
    color: crimson
}

.h2-a {
    color: crimson
}

.h3 {
    color: black
}

.h3-a {
    color: black
}

.h4 {
    color: yellowgreen
}

.h4-a {
    color: yellowgreen
}


.p {
    color: green
}

.p-a {
    color: green
}


article {
    color: #8d351f
}

.main-header {
        color:rgb(112, 156, 123);
        background-color: black;
}


a {
    color:pink ;
}

nav a {
    color: green;
}

.a{
    color:red;

}

.footer{
    color:orange;
    background-color: black;
}

.footer-a{
    color:orange;
}