
.body{
  background-color: whitesmoke;
  color: gold;
 
}
.header {
  color: darkcyan;
  margin: 0px;
  background-color: whitesmoke;
}

.header__link {
  color: #008b8b ;
}

.article {

}

.article__main {

background-color: whitesmoke;
border: black;
border-width: 2px;
border-style: solid;
padding: 10px;
color: black;
}

.article__title {
  color: red;
  margin: 10px;
}

.article__title--link {
  color: red;
}

.article__description {
  color: green;
  margin: 25px;
}

.article__description--link {
  color: green;
}
.article__img {
  max-width: 20pc;
  margin: 10px;
}


.article__subtitle {
  color: black;
  margin: 15px;
}

.article__subtitle--link {
  color: black;
}


.navigation {
  color: whitesmoke;
  background-color: blue;
  border-color: blue;
  height: 30px;
  padding: 10px;
  border: 0px;
  border-style: bold;
 
  margin: 0px;
}

.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 10px;
}

.navigation__link--current {
  color: black;
}


.footer {
  color: whitesmoke;
  background-color: blue;
  height: 30px;
  padding: 10px;
  
}

.footer__link {
  color: whitesmoke;
  display: inline-block;
  margin-left: 10px;
}
